body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.leftNavContainer {
  padding: 20px;
  position: absolute;
  width: 180px;
  background-color: #F15B2A;
  display: block;
  height: 100%;
}

a.activeNavLink {
  font-weight: bold;
  font-size: 18px;
  list-style-type: none;
}

a.navLink {
  font-size: 18px;
  list-style-type: none;
}

li.nav {
  list-style-type: none;
  margin-left: -30px;
}